header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px 0;
}
.right {
  display: flex;
  align-items: center;
  .suport-link {
    font-size: 14px;
    color: var(--color-gray-1);
    font-weight: 700;
  }
  .btn-Language {
    display: flex;
    align-items: center;
  }
  .btn-Language {
    margin-left: 45px;
    font-size: 14px;
    font-weight: 700;
    color: var(--color-gray-1);
    position: relative;
    transition: 0.3s;
    &.show {
      color: var(--color-block-2);
      > i::before {
        color: inherit;
      }
    }
    > i {
      margin-right: 8px;
      font-size: 14px;
    }
    .Language-dropdown {
      position: absolute;
      top: 62px;
      left: 0;
      border-radius: 20px;
      background: var(--color-white-2);
      // box-shadow: 0 40px 32px rgba(15, 15, 15, 0.12);
      box-shadow: 0px 40px 32px -24px rgba(15, 15, 15, 0.12);
      padding: 16px 42px 28px 16px;
      min-width: 292px;
      max-width: 400px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      display: none;
      transition: 0.3s;
      &.show {
        display: flex;
      }
      li {
        border-radius: 8px;
        padding: 11px 28px 12px 20px;
        width: 50%;
        transition: 0.3s;
        text-align: left;
        &:hover {
          background: var(--color-white-1);
        }
        a {
          display: flex;
          flex-direction: column;
          .Language-name {
            font-size: 14px;
            font-weight: 700;
            color: var(--color-block-2);
            white-space: nowrap;
          }
          .Language-country {
            font-size: 12px;
            font-family: "Poppins";
            font-weight: 400;
            color: var(--color-gray-2);
            white-space: nowrap;
          }
        }
      }
    }
  }
  .btn-header {
    border: 2px solid var(--color-gray-3);
    border-radius: 90px;
    padding: 10px 22px;
    margin-left: 45px;
    font-size: 14px;
    color: var(--color-block-2);
    font-weight: 700;
    white-space: nowrap;
    i {
      margin-right: 13px;
    }
  }
  .Notifications {
    position: relative;
    margin-left: 35px;
    margin-top: 8px;
    &.show {
      > i::before {
        color: var(--color-block-1);
      }
    }
    > i {
      font-size: 21px;
    }
    > span {
      position: absolute;
      width: 12px;
      height: 12px;
      background: var(--color-green);
      border-radius: 50%;
      top: -10px;
      right: -10px;
    }
    position: relative;
    transition: 0.3s;
    #NotificationsDropdown {
      display: none;
      position: absolute;
      top: 62px;
      right: 0;
      min-width: 320px;
      max-width: 350px;
      height: 385px;
      overflow-y: auto;
      background: linear-gradient(
        83.59deg,
        var(--color-white-2) 36.52%,
        rgba(252, 252, 253, 0.83) 98.8%
      );
      box-shadow: 0px 16px 64px -48px rgba(31, 47, 70, 0.4);
      border-radius: 24px;
      padding: 40px 16px 32px;

      /*======================== scroll Bar ===========================  */
      /* width */
      &::-webkit-scrollbar {
        width: 5px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        background: transparent;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: #a8a8a8;
        border-radius: 3px;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: #888;
      }
      /*======================== END scroll Bar =======================  */
      &.show {
        display: block;
      }

      h4 {
        font-family: "Poppins";
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 20px;
      }
      .Notifications-message {
        transition: 0.3s ease;
        padding: 5px;
        border-radius: 5px;
        &:hover {
          background: #ececec;
        }
        &:not(:last-child) {
          margin-bottom: 12px;
        }
        > a {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        .message-pic {
          width: 48px;
          min-width: 48px;
          height: 48px;
          min-height: 48px;

          border-radius: 50%;
          overflow: hidden;
          margin-right: 24px;
          align-self: flex-start;
          img {
            object-fit: cover;
          }
        }
        .message-detils {
          display: flex;
          // align-items: center;
          flex-direction: column;
          font-family: "Poppins";
          margin-right: 15px;
          width: 65%;
          > span {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }
          .message-name {
            font-size: 16px;
            font-weight: 500;
            color: var(--color-block-1);
            margin-bottom: 4px;
          }
          .message-text {
            font-size: 14px;
            font-weight: 400;
            color: var(--color-block-3);
          }
          .message-time {
            font-size: 12px;
            font-weight: 400;
            color: var(--color-gray-1);
          }
        }
        .wr-message-status {
          .message-status {
            display: block;
            background: var(--color-blue);
            width: 12px;
            height: 12px;
            border-radius: 12px;
          }
        }
      }
    }
  }
  .profileUser {
    position: relative;
    .show {
    }
    .profile-pic {
      width: 40px;
      height: 40px;
      overflow: hidden;
      border-radius: 50%;
      margin-left: 34px;
      img {
        object-fit: cover;
      }
    }
    #profileUserDropdown {
      position: absolute;
      top: 62px;
      right: 0;
      background: var(--color-white-2);
      padding: 0 16px 16px;
      width: 260px;
      box-shadow: 0px 16px 64px -48px rgba(31, 47, 70, 0.4);
      border-radius: 20px;
      display: none;
      &.show {
        display: block;
      }
      > ul.profileUser-menu {
        padding: 16px 0;
        border-bottom: 1px solid var(--color-gray-3);
        &.border-bottom-none {
          border-bottom: 0;
        }
        li {
          display: block;
          a {
            padding: 12px 20px;
            display: flex;
            align-items: center;
            border-radius: 24px;
            transition: 0.3s ease;
            &:hover {
              background: var(--color-block-2);
              i::before {
                color: var(--color-gray-3);
              }

              span {
                color: var(--color-gray-3);
              }
            }
            i {
              margin-right: 12px;
            }
            span {
              color: var(--color-gray-1);
              font-size: 14px;
              font-family: "DM Sans";
              font-weight: 700;
            }
          }
        }
      }
      .profileUser-menu {
      }
      .profileUser-menu-2 {
      }
      .profileUser-btn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .Account {
          font-weight: 700;
          font-size: 14px;
          background: var(--color-blue);
          padding: 12px;
          color: var(--color-white-2);
          border-radius: 90px;
          white-space: nowrap;
          margin-right: 8px;
          flex: 1;
          text-align: center;
          transition: 0.3s;
          &:hover {
            box-shadow: 0px 4px 16px rgba(59, 113, 254, 0.4);
          }
        }
        .Logout {
          white-space: nowrap;
          font-weight: 700;
          font-size: 14px;
          padding: 12px;
          text-align: center;
          color: var(--color-block-2);
          flex: 1;
          border-radius: 90px;
          border: 2px solid var(--color-gray-3);
          &:hover {
            border-color: #bcbec2;
          }
        }
      }
    }
  }
  .humbergerMenu{
    display: none;
    margin-left: 20px;
    z-index: 100;
    padding-top: 7px;
    i{
      font-size: 24px;
    }
    i::before{
      transition: .3s;
    }
  }
 
}
.left {
  display: flex;
  align-items: center;
  .logo {
    z-index: 100;
    padding-right: 44px;
    border-right: 1px solid var(--color-gray-3);
    a {
      display: flex;
      align-items: center;
    }
    span {
      font-size: 27px;
      font-family: "Poppins";
      color: var(--color-block-2);
      margin-left: 10px;
      font-weight: 600;
    }
  }
  .btn-travelers {
    padding-left: 40px;
    font-size: 14px;
    font-weight: 700;
    color: var(--color-gray-1);
    display: flex;
    align-items: center;
    position: relative;
    transition: 0.3s;
    &:hover {
      color: var(--color-block-2);
      > i::before {
        color: var(--color-block-2);
      }
    }
    > i {
      font-size: 22px;
      margin-left: 5.5px;
      transition: 0.3s;
    }
    &.show {
      color: var(--color-block-2);
      > i {
        transform: rotate(180deg);
      }
      > i::before {
        color: var(--color-block-2);
      }
    }
    & .travelers-dropdown {
      position: absolute;
      top: 62px;
      padding: 30px 16px;
      left: 0;
      width: 260px;
      max-width: 292px;
      border-radius: 20px;
      // border: 1px solid red;
      background: var(--color-white-2);
      // box-shadow: 0 40px 32px rgba(15, 15, 15, 0.12);
      box-shadow: 0px 40px 32px -24px rgba(15, 15, 15, 0.12);

      display: none;
      li {
        padding: 14px 21px;
        border-radius: 24px;
        transition: 0.3s;
        &:hover {
          background: var(--color-block-2);
          a {
            span {
              color: var(--color-gray-3);
            }
            i::before {
              color: var(--color-gray-3);
            }
          }
        }
        a {
          display: flex;
          align-items: center;
          span {
            transition: 0.3s;

            white-space: nowrap;
          }
          i {
            &::before {
              transition: 0.3s;
            }

            font-size: 20px;
            margin-right: 14px;
          }
        }
      }
      &.show {
        display: block;
      }
    }
  }
}
#humbergerMenuDropdown{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: var(--color-white-2);
  transform: translateX(100%);
  transition:transform .3s ease;
  z-index: 99;
  padding-top: 100px;
  >ul{
    li{
      position: relative;
      a{
        font-family: "Poppins";
        display: block;
        font-size: 24px;
        font-weight: 600;
        position: relative;
        padding: 14px 30px;
        &:hover::before{
          transform: scale(1);
        }
        &::before{
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 2px;
          height: 100%;
          background-color:var(--color-blue);
          transform: scale(0);
          transition:transform .3s ease;
        }
      }
    }
  }
}
@media screen and(max-width:992px) {
  .left {
    .logo {
      padding-right: 20px;
      span {
        font-size: 22px;
      }
    }
    .btn-travelers {
      padding-left: 20px;
    }
  }
  .right {
    .suport-link,
    .btn-Language,
    .btn-header {
      display: none;
    }
  }
}
@media screen and(max-width:768px) {
  .right {
    .btn-header {
      display: none;
    }
  }
}
@media screen and(max-width:578px) {
  header{
    justify-content: space-between;
  }
  .left{
    .logo{
      border: none;
      padding-right: 0;
      // span{display: none;}
    }
    .btn-travelers{
      display: none;
    }
    
  }
  .right {
    
    .btn-header {
      display: none;
    }
    .Notifications{
      margin-left: 0;
      position: static;
      span{
        top: auto;
        right: auto;
      }
      #NotificationsDropdown{
        width: 90%;
        margin: 0 auto;
        left: 0;
        top: 80px;
      }
    }
    .profileUser{
      position: static;
      .profile-pic{
        margin-left: 20px;
      }
      #profileUserDropdown{
        left: 0;
        width: 90%;
        top: 80px;
        margin: 0 auto;
        >ul.profileUser-menu{
          padding: 8px 0;
        }
      }
    }
    .humbergerMenu{
      display: block;
      &.show{
        i::before{
          content: "\e97a";
        }
      }
    }
  }
  #humbergerMenuDropdown{
    &.show{
      transform: translateX(0);
    }
  }
  
}
