header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 20px 0;
}

.right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right .suport-link {
  font-size: 14px;
  color: var(--color-gray-1);
  font-weight: 700;
}

.right .btn-Language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right .btn-Language {
  margin-left: 45px;
  font-size: 14px;
  font-weight: 700;
  color: var(--color-gray-1);
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.right .btn-Language.show {
  color: var(--color-block-2);
}

.right .btn-Language.show > i::before {
  color: inherit;
}

.right .btn-Language > i {
  margin-right: 8px;
  font-size: 14px;
}

.right .btn-Language .Language-dropdown {
  position: absolute;
  top: 62px;
  left: 0;
  border-radius: 20px;
  background: var(--color-white-2);
  -webkit-box-shadow: 0px 40px 32px -24px rgba(15, 15, 15, 0.12);
          box-shadow: 0px 40px 32px -24px rgba(15, 15, 15, 0.12);
  padding: 16px 42px 28px 16px;
  min-width: 292px;
  max-width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.right .btn-Language .Language-dropdown.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.right .btn-Language .Language-dropdown li {
  border-radius: 8px;
  padding: 11px 28px 12px 20px;
  width: 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-align: left;
}

.right .btn-Language .Language-dropdown li:hover {
  background: var(--color-white-1);
}

.right .btn-Language .Language-dropdown li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.right .btn-Language .Language-dropdown li a .Language-name {
  font-size: 14px;
  font-weight: 700;
  color: var(--color-block-2);
  white-space: nowrap;
}

.right .btn-Language .Language-dropdown li a .Language-country {
  font-size: 12px;
  font-family: "Poppins";
  font-weight: 400;
  color: var(--color-gray-2);
  white-space: nowrap;
}

.right .btn-header {
  border: 2px solid var(--color-gray-3);
  border-radius: 90px;
  padding: 10px 22px;
  margin-left: 45px;
  font-size: 14px;
  color: var(--color-block-2);
  font-weight: 700;
  white-space: nowrap;
}

.right .btn-header i {
  margin-right: 13px;
}

.right .Notifications {
  position: relative;
  margin-left: 35px;
  margin-top: 8px;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.right .Notifications.show > i::before {
  color: var(--color-block-1);
}

.right .Notifications > i {
  font-size: 21px;
}

.right .Notifications > span {
  position: absolute;
  width: 12px;
  height: 12px;
  background: var(--color-green);
  border-radius: 50%;
  top: -10px;
  right: -10px;
}

.right .Notifications #NotificationsDropdown {
  display: none;
  position: absolute;
  top: 62px;
  right: 0;
  min-width: 320px;
  max-width: 350px;
  height: 385px;
  overflow-y: auto;
  background: linear-gradient(83.59deg, var(--color-white-2) 36.52%, rgba(252, 252, 253, 0.83) 98.8%);
  -webkit-box-shadow: 0px 16px 64px -48px rgba(31, 47, 70, 0.4);
          box-shadow: 0px 16px 64px -48px rgba(31, 47, 70, 0.4);
  border-radius: 24px;
  padding: 40px 16px 32px;
  /*======================== scroll Bar ===========================  */
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
  /*======================== END scroll Bar =======================  */
}

.right .Notifications #NotificationsDropdown::-webkit-scrollbar {
  width: 5px;
}

.right .Notifications #NotificationsDropdown::-webkit-scrollbar-track {
  background: transparent;
}

.right .Notifications #NotificationsDropdown::-webkit-scrollbar-thumb {
  background: #a8a8a8;
  border-radius: 3px;
}

.right .Notifications #NotificationsDropdown::-webkit-scrollbar-thumb:hover {
  background: #888;
}

.right .Notifications #NotificationsDropdown.show {
  display: block;
}

.right .Notifications #NotificationsDropdown h4 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 20px;
}

.right .Notifications #NotificationsDropdown .Notifications-message {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  padding: 5px;
  border-radius: 5px;
}

.right .Notifications #NotificationsDropdown .Notifications-message:hover {
  background: #ececec;
}

.right .Notifications #NotificationsDropdown .Notifications-message:not(:last-child) {
  margin-bottom: 12px;
}

.right .Notifications #NotificationsDropdown .Notifications-message > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.right .Notifications #NotificationsDropdown .Notifications-message .message-pic {
  width: 48px;
  min-width: 48px;
  height: 48px;
  min-height: 48px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 24px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.right .Notifications #NotificationsDropdown .Notifications-message .message-pic img {
  -o-object-fit: cover;
     object-fit: cover;
}

.right .Notifications #NotificationsDropdown .Notifications-message .message-detils {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Poppins";
  margin-right: 15px;
  width: 65%;
}

.right .Notifications #NotificationsDropdown .Notifications-message .message-detils > span {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.right .Notifications #NotificationsDropdown .Notifications-message .message-detils .message-name {
  font-size: 16px;
  font-weight: 500;
  color: var(--color-block-1);
  margin-bottom: 4px;
}

.right .Notifications #NotificationsDropdown .Notifications-message .message-detils .message-text {
  font-size: 14px;
  font-weight: 400;
  color: var(--color-block-3);
}

.right .Notifications #NotificationsDropdown .Notifications-message .message-detils .message-time {
  font-size: 12px;
  font-weight: 400;
  color: var(--color-gray-1);
}

.right .Notifications #NotificationsDropdown .Notifications-message .wr-message-status .message-status {
  display: block;
  background: var(--color-blue);
  width: 12px;
  height: 12px;
  border-radius: 12px;
}

.right .profileUser {
  position: relative;
}

.right .profileUser .profile-pic {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
  margin-left: 34px;
}

.right .profileUser .profile-pic img {
  -o-object-fit: cover;
     object-fit: cover;
}

.right .profileUser #profileUserDropdown {
  position: absolute;
  top: 62px;
  right: 0;
  background: var(--color-white-2);
  padding: 0 16px 16px;
  width: 260px;
  -webkit-box-shadow: 0px 16px 64px -48px rgba(31, 47, 70, 0.4);
          box-shadow: 0px 16px 64px -48px rgba(31, 47, 70, 0.4);
  border-radius: 20px;
  display: none;
}

.right .profileUser #profileUserDropdown.show {
  display: block;
}

.right .profileUser #profileUserDropdown > ul.profileUser-menu {
  padding: 16px 0;
  border-bottom: 1px solid var(--color-gray-3);
}

.right .profileUser #profileUserDropdown > ul.profileUser-menu.border-bottom-none {
  border-bottom: 0;
}

.right .profileUser #profileUserDropdown > ul.profileUser-menu li {
  display: block;
}

.right .profileUser #profileUserDropdown > ul.profileUser-menu li a {
  padding: 12px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 24px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.right .profileUser #profileUserDropdown > ul.profileUser-menu li a:hover {
  background: var(--color-block-2);
}

.right .profileUser #profileUserDropdown > ul.profileUser-menu li a:hover i::before {
  color: var(--color-gray-3);
}

.right .profileUser #profileUserDropdown > ul.profileUser-menu li a:hover span {
  color: var(--color-gray-3);
}

.right .profileUser #profileUserDropdown > ul.profileUser-menu li a i {
  margin-right: 12px;
}

.right .profileUser #profileUserDropdown > ul.profileUser-menu li a span {
  color: var(--color-gray-1);
  font-size: 14px;
  font-family: "DM Sans";
  font-weight: 700;
}

.right .profileUser #profileUserDropdown .profileUser-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.right .profileUser #profileUserDropdown .profileUser-btn .Account {
  font-weight: 700;
  font-size: 14px;
  background: var(--color-blue);
  padding: 12px;
  color: var(--color-white-2);
  border-radius: 90px;
  white-space: nowrap;
  margin-right: 8px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.right .profileUser #profileUserDropdown .profileUser-btn .Account:hover {
  -webkit-box-shadow: 0px 4px 16px rgba(59, 113, 254, 0.4);
          box-shadow: 0px 4px 16px rgba(59, 113, 254, 0.4);
}

.right .profileUser #profileUserDropdown .profileUser-btn .Logout {
  white-space: nowrap;
  font-weight: 700;
  font-size: 14px;
  padding: 12px;
  text-align: center;
  color: var(--color-block-2);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 90px;
  border: 2px solid var(--color-gray-3);
}

.right .profileUser #profileUserDropdown .profileUser-btn .Logout:hover {
  border-color: #bcbec2;
}

.right .humbergerMenu {
  display: none;
  margin-left: 20px;
  z-index: 100;
  padding-top: 7px;
}

.right .humbergerMenu i {
  font-size: 24px;
}

.right .humbergerMenu i::before {
  -webkit-transition: .3s;
  transition: .3s;
}

.left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.left .logo {
  z-index: 100;
  padding-right: 44px;
  border-right: 1px solid var(--color-gray-3);
}

.left .logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.left .logo span {
  font-size: 27px;
  font-family: "Poppins";
  color: var(--color-block-2);
  margin-left: 10px;
  font-weight: 600;
}

.left .btn-travelers {
  padding-left: 40px;
  font-size: 14px;
  font-weight: 700;
  color: var(--color-gray-1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.left .btn-travelers:hover {
  color: var(--color-block-2);
}

.left .btn-travelers:hover > i::before {
  color: var(--color-block-2);
}

.left .btn-travelers > i {
  font-size: 22px;
  margin-left: 5.5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.left .btn-travelers.show {
  color: var(--color-block-2);
}

.left .btn-travelers.show > i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.left .btn-travelers.show > i::before {
  color: var(--color-block-2);
}

.left .btn-travelers .travelers-dropdown {
  position: absolute;
  top: 62px;
  padding: 30px 16px;
  left: 0;
  width: 260px;
  max-width: 292px;
  border-radius: 20px;
  background: var(--color-white-2);
  -webkit-box-shadow: 0px 40px 32px -24px rgba(15, 15, 15, 0.12);
          box-shadow: 0px 40px 32px -24px rgba(15, 15, 15, 0.12);
  display: none;
}

.left .btn-travelers .travelers-dropdown li {
  padding: 14px 21px;
  border-radius: 24px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.left .btn-travelers .travelers-dropdown li:hover {
  background: var(--color-block-2);
}

.left .btn-travelers .travelers-dropdown li:hover a span {
  color: var(--color-gray-3);
}

.left .btn-travelers .travelers-dropdown li:hover a i::before {
  color: var(--color-gray-3);
}

.left .btn-travelers .travelers-dropdown li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.left .btn-travelers .travelers-dropdown li a span {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  white-space: nowrap;
}

.left .btn-travelers .travelers-dropdown li a i {
  font-size: 20px;
  margin-right: 14px;
}

.left .btn-travelers .travelers-dropdown li a i::before {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.left .btn-travelers .travelers-dropdown.show {
  display: block;
}

#humbergerMenuDropdown {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: var(--color-white-2);
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
  z-index: 99;
  padding-top: 100px;
}

#humbergerMenuDropdown > ul li {
  position: relative;
}

#humbergerMenuDropdown > ul li a {
  font-family: "Poppins";
  display: block;
  font-size: 24px;
  font-weight: 600;
  position: relative;
  padding: 14px 30px;
}

#humbergerMenuDropdown > ul li a:hover::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

#humbergerMenuDropdown > ul li a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 2px;
  height: 100%;
  background-color: var(--color-blue);
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

@media screen and (max-width: 992px) {
  .left .logo {
    padding-right: 20px;
  }
  .left .logo span {
    font-size: 22px;
  }
  .left .btn-travelers {
    padding-left: 20px;
  }
  .right .suport-link,
  .right .btn-Language,
  .right .btn-header {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .right .btn-header {
    display: none;
  }
}

@media screen and (max-width: 578px) {
  header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .left .logo {
    border: none;
    padding-right: 0;
  }
  .left .btn-travelers {
    display: none;
  }
  .right .btn-header {
    display: none;
  }
  .right .Notifications {
    margin-left: 0;
    position: static;
  }
  .right .Notifications span {
    top: auto;
    right: auto;
  }
  .right .Notifications #NotificationsDropdown {
    width: 90%;
    margin: 0 auto;
    left: 0;
    top: 80px;
  }
  .right .profileUser {
    position: static;
  }
  .right .profileUser .profile-pic {
    margin-left: 20px;
  }
  .right .profileUser #profileUserDropdown {
    left: 0;
    width: 90%;
    top: 80px;
    margin: 0 auto;
  }
  .right .profileUser #profileUserDropdown > ul.profileUser-menu {
    padding: 8px 0;
  }
  .right .humbergerMenu {
    display: block;
  }
  .right .humbergerMenu.show i::before {
    content: "\e97a";
  }
  #humbergerMenuDropdown.show {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
/*# sourceMappingURL=main.css.map */